.stories {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}

.stories figure {
  background: #fff;
  border: 1px solid #ddd;
}

.post {
  padding: 10px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.post::-webkit-scrollbar {
  display: none;
}

.post img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #e6683c;
  margin-right: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
  cursor: pointer;
}
