.main-header {
  background: #fff;
  height: 72px;
  border-bottom: 1px solid #ddd;
}

.header-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 72px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-input input {
  height: 25px;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  font-weight: 200;
  color: #DBDBDA;
  border: solid 1px #dbdbdb;
  background-color: #fafafa;
}

.header-content-icon img {
  margin: 8px;
}

@media (max-width: 600px) {
  .header-content-input input {
    display: none;
  }
}